*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-lite: #f8fafc;
  --background-dark: #0f172a;
  --headers-blue: #1e3a8a;
  --text-dark: #64748b;
  --text-lite: #f8fafc;
  --button-dark: #059669;
  --button-light: #10b981;
  --negative-values: #dc2626;
}

html,
body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 100%;
  min-height: 100vh;
  color: #495057;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../html/images/nattanan23-money-2696228.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto auto;
  padding: 10px 0;
  background-color: #49505790;
  color: #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.icon-container {
  display: inline-flex;
  grid-row: span 2;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.company-icon {
  width: 75px;
  padding-left: 20px;
}

.today {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.greeting {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  align-items: center;
  justify-content: center;
}

.header-options {
  display: flex;
  grid-column: 3;
  grid-row: span 2;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 25px;
}

.header-options a {
  display: flex;
  text-decoration: none;
  width: 100px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: #37b24d;
  color: #000000;
}

.header-options a:hover {
  background-color: #82c91e;
  color: #0000ff;
  box-shadow:
    0 0 5px #00f3ff,
    0 0 10px #00f3ff,
    0 0 20px #00f3ff;
}

/*
==================
Sign Up Page
==================
*/

body.signup-page {
  display: grid;
  grid-template-columns: 1fr calc(40% - 5px) calc(40% - 5px) 1fr;
  grid-template-rows: 50px auto;
  column-gap: 10px;
  background-image: none;
  background-color: #e9ecef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.signup-header {
  display: flex;
  grid-row: 1;
  grid-column: 2 / span 2;
  width: 100%;

  color: #000000;
  justify-content: center;
  align-items: center;
}

.signup-info {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  margin-top: 30px;
  padding-top: 25px;
  padding-left: 25px;
  background-color: #49505720;
  background-size: contain;
  background-repeat: none;
  background-position: center;
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 10px;
}

.form-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-row: 2;
  grid-column: 3;
  background-color: #37b24d20;
  margin-top: 30px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 10px;
}

.name-label {
  display: block;
  text-align: center;
}
